/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow-x: hidden;
}


.scrolly-container {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}

.section {
    height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 1s ease-out;
}

.section h1 {
    color: white;
    font-size: 40px;
    margin-top: -600px;
}

.section p {
    font-size: 20px;
    color: #ffffff;
    width: 60%;
    margin: 20px auto;
    margin-top: -560px;
}

.section1 {
    background-color: #ff0400;
    background: url('1.png') center center fixed;
    background-size: cover;
}
  
.section2 {
    background-color: #fbff00;
    background: url('2.png') center center fixed;
    background-size: cover;
}
  
.section3 {
    background-color: #48ff00;
    background: url('3.png') center center fixed;
    background-size: cover;
}
  
.section4 {
    background-color: #00fff2;
    background: url('4.png') center center fixed;
    background-size: cover;
}

.section5 {
    background-color: #1100ff;
    background: url('5.png') center center fixed;
    background-size: cover;
}

.section6 {
    background-color: #9900ff;
    background: url('6.png') center center fixed;
    background-size: cover;
}
